In [2]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType
from pyspark.sql.functions import *

In [3]:
warehouse_location = 'hdfs://hdfs-nn:9000/TrabalhoPratico'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [4]:
normalizar_data_female=spark.read.format("delta").load("hdfs://hdfs-nn:9000/TrabalhoPratico/silver/MentalHealth_DeltaTable/")

In [5]:
normalizar_data_female = normalizar_data_female.withColumn("TimeStamp", year("TimeStamp"))
normalizar_data_female = normalizar_data_female.withColumnRenamed("Country", "Pais")
normalizar_data_female = normalizar_data_female.withColumnRenamed("Gender", "Genero")

In [6]:
normalizar_data_female = normalizar_data_female.withColumnRenamed("Timestamp","Ano")

In [7]:
normalizar_data_female.show()

+----+---+------+--------------+--------------+---------+--------------+-------------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+------------+-----------------------+---------------------+
| Ano|Age|Genero|          Pais|family_history|treatment|work_interfere|remote_worker|tech_company|  benefits|care_options|Wellness_program| Seek_help| anonymity|             leave|mental_health_consequence|phys_health_consequence|   coworkers|  supervisor|mental_health_interview|phys_health_interview|
+----+---+------+--------------+--------------+---------+--------------+-------------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+------------+-----------------------+---------------------+
|2014| 37|Female| United States|            No|      Yes|         Often|           No|         Yes|       Yes|    Not sure|              No|       Yes|       Yes|     Somewhat easy|                       No|                     No|Some of them|         Yes|                     No|                Maybe|
|2014| 32|  Male|        Canada|            No|       No|        Rarely|           No|         Yes|        No|          No|              No|        No|Don't know|Somewhat difficult|                       No|                     No|         Yes|         Yes|                    Yes|                  Yes|
|2014| 31|  Male|United Kingdom|           Yes|      Yes|         Often|           No|         Yes|        No|         Yes|              No|        No|        No|Somewhat difficult|                      Yes|                    Yes|Some of them|          No|                  Maybe|                Maybe|
|2014| 31|  Male| United States|            No|       No|         Never|          Yes|         Yes|       Yes|          No|      Don't know|Don't know|Don't know|        Don't know|                       No|                     No|Some of them|         Yes|                    Yes|                  Yes|
|2014| 33|  Male| United States|           Yes|       No|     Sometimes|           No|         Yes|       Yes|    Not sure|              No|Don't know|Don't know|        Don't know|                       No|                     No|         Yes|         Yes|                     No|                Maybe|
|2014| 35|Female| United States|           Yes|      Yes|     Sometimes|          Yes|         Yes|        No|          No|              No|        No|        No|Somewhat difficult|                    Maybe|                  Maybe|Some of them|          No|                     No|                   No|
|2014| 42|Female| United States|           Yes|      Yes|     Sometimes|           No|         Yes|       Yes|         Yes|              No|        No|        No|    Very difficult|                    Maybe|                     No|         Yes|         Yes|                     No|                Maybe|
|2014| 23|  Male|        Canada|            No|       No|         Never|           No|         Yes|Don't know|          No|      Don't know|Don't know|Don't know|        Don't know|                       No|                     No|         Yes|         Yes|                  Maybe|                Maybe|
|2014| 31|  Male| United States|            No|      Yes|     Sometimes|          Yes|         Yes|Don't know|          No|              No|        No|Don't know|        Don't know|                       No|                     No|Some of them|         Yes|                     No|                   No|
|2014| 29|  Male|      Bulgaria|            No|       No|         Never|          Yes|         Yes|Don't know|    Not sure|              No|        No|Don't know|        Don't know|                       No|                     No|         Yes|         Yes|                    Yes|                  Yes|
|2014| 42|Female| United States|           Yes|      Yes|     Sometimes|           No|          No|       Yes|         Yes|              No|        No|Don't know|Somewhat difficult|                      Yes|                    Yes|         Yes|         Yes|                  Maybe|                Maybe|
|2014| 36|  Male| United States|           Yes|       No|         Never|           No|         Yes|Don't know|    Not sure|              No|Don't know|Don't know|        Don't know|                       No|                     No|         Yes|         Yes|                     No|                   No|
|2014| 27|  Male|        Canada|            No|       No|         Never|           No|         Yes|Don't know|    Not sure|      Don't know|Don't know|Don't know|     Somewhat easy|                       No|                     No|Some of them|Some of them|                  Maybe|                  Yes|
|2014| 29|Female| United States|           Yes|      Yes|        Rarely|           No|         Yes|       Yes|    Not sure|              No|        No|Don't know|     Somewhat easy|                       No|                     No|         Yes|Some of them|                  Maybe|                Maybe|
|2014| 23|  Male|United Kingdom|            No|      Yes|     Sometimes|          Yes|         Yes|Don't know|          No|      Don't know|Don't know|Don't know|         Very easy|                    Maybe|                     No|Some of them|          No|                  Maybe|                Maybe|
|2014| 32|  Male| United States|            No|      Yes|     Sometimes|           No|         Yes|       Yes|         Yes|              No|Don't know|Don't know|        Don't know|                    Maybe|                     No|Some of them|         Yes|                     No|                   No|
|2014| 46|  Male| United States|           Yes|       No|     Sometimes|          Yes|         Yes|       Yes|    Not sure|             Yes|Don't know|       Yes|         Very easy|                       No|                     No|         Yes|         Yes|                     No|                  Yes|
|2014| 36|  Male|        France|           Yes|       No|            NA|          Yes|         Yes|        No|          No|             Yes|        No|       Yes|     Somewhat easy|                       No|                     No|Some of them|Some of them|                  Maybe|                Maybe|
|2014| 29|  Male| United States|           Yes|      Yes|     Sometimes|           No|         Yes|       Yes|         Yes|              No|        No|        No|Somewhat difficult|                    Maybe|                     No|Some of them|Some of them|                     No|                   No|
|2014| 31|  Male| United States|            No|       No|         Never|          Yes|         Yes|        No|          No|              No|        No|       Yes|Somewhat difficult|                       No|                     No|Some of them|Some of them|                     No|                Maybe|
+----+---+------+--------------+--------------+---------+--------------+-------------+------------+----------+------------+----------------+----------+----------+------------------+-------------------------+-----------------------+------------+------------+-----------------------+---------------------+
only showing top 20 rows

In [ ]:
spark.sql(
    """
    CREATE DATABASE IF NOT EXISTS gold LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPratico/gold/'
    """
)

In [ ]:
spark.sql(
    """
    DROP TABLE IF EXISTS gold.mentalHealth_TratamentoPerSex_Country_Year
    """
)

In [ ]:
# 1-> Criação de uma tabela de maneira a criar uma nova deltaTable , uma com uma coluna chamada PercentualSuicidiosPorSexo

spark.sql(
    """
    DROP TABLE IF EXISTS gold.mentalHealth_TratamentoPerSex
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE  gold.mentalHealth_TratamentoPerSex (
        Ano Integer,
        Pais STRING,
        Male_Count LONG,
        Female_Count LONG,
        Homens_em_tratamento LONG,
        Mulheres_em_tratamento LONG,
        Percentagem_De_Homens_Em_Tratamento DOUBLE,
        Percentagem_De_Mulheres_Em_Tratamento DOUBLE
        
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPratico/gold/mentalHealth_TratamentoPerSex/'
    """
)

In [ ]:

treatment_count = (
    normalizar_data_female

    .withColumn(
        "Homens_em_tratamento",
        when((col("Genero") == "Male") & (col("treatment") == "Yes"), 1).otherwise(0)
        # Se sim 1, se não 0
    )
    .withColumn(
        "Mulheres_em_tratamento",
        when((col("Genero") == "Female") & (col("treatment") == "Yes"), 1).otherwise(0)
    )
    .groupBy("Pais", "Ano")
    .agg(
        sum("Homens_em_tratamento").alias("Homens_em_tratamento"),
        sum("Mulheres_em_tratamento").alias("Mulheres_em_tratamento")
    )
)
treatment_count.show()

treatment_count_with_percentages = (
    treatment_count
    .withColumn(
        "Percentagem_De_Homens_Em_Tratamento",
        (col("Homens_em_tratamento") / (col("Homens_em_tratamento") + col("Mulheres_em_tratamento"))) * 100
    )
    .withColumn(
        "Percentagem_De_Mulheres_Em_Tratamento",
        (col("Mulheres_em_tratamento") / (col("Homens_em_tratamento") + col("Mulheres_em_tratamento"))) * 100
    )
)

treatment_count_with_percentages.show()

In [ ]:
treatment_count_with_percentages  \
    .select( "Ano" , "Pais" ,"Homens_em_tratamento", "Mulheres_em_tratamento","Percentagem_De_Homens_Em_Tratamento", "Percentagem_De_Mulheres_Em_Tratamento") \
    .write \
    .mode("overwrite") \
    .format("delta") \
    .option("overwriteSchema", "true") \
    .save("hdfs://hdfs-nn:9000/TrabalhoPratico/gold/mentalHealth_TratamentoPerSex")

In [ ]:
#Ver esta tabel no tableua

spark.sql(
    """
    SELECT *
    FROM gold.mentalHealth_TratamentoPerSex
    """
).show()

In [12]:
spark.sql(
    """
    DROP TABLE IF EXISTS gold.mentalHealth_Benefits_Care_TreatmentPerCountry
    """
)

DataFrame[]

In [13]:

spark.sql(
    """
    DROP TABLE IF EXISTS gold.mentalHealth_Benefits_Care_TreatmentPerCountry
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE gold.mentalHealth_Benefits_Care_TreatmentPerCountry (
        Pais STRING,
        Genero STRING,
        Ano DATE,
        Sum_Benefits_Per_Country LONG,
        Sum_Care_Options_Per_Country LONG,
        Sum_No_Benefits_Per_Country LONG,
        Sum_No_CareOptions_Per_Country LONG,
        Sum_All_Benefits_Per_Country LONG,
        Sum_All_CareOptions_Per_Country LONG,
        Sum_Dont_Know_Benefits_Per_Country LONG,
        Sum_Dont_Know_Care_Options_Per_Country LONG,
        Percentage_Yes_Benefits LONG,
        Percentage_No_Benefits LONG,
        Percentage_Yes_CareOptions LONG,
        Percentage_No_CareOptions LONG,
        Percentage_Dont_Know_Benefits LONG,
        Percentage_Dont_Know_CareOptions LONG
        
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/TrabalhoPratico/gold/mentalHealth_Benefits_Care_TreatmentPerCountry/'
    """
)

DataFrame[]

In [ ]:
normalizar_data_female.show()

In [ ]:
countries_for_date = normalizar_data_female.groupBy("Country", year("Timestamp").alias("Ano")).agg(
    sum(when(col("Gender") == "Male", 1).otherwise(0)).alias("Male_Count"),
    sum(when(col("Gender") == "Female", 1).otherwise(0)).alias("Female_Count")
)


treatment_count_per_country_year = countries_for_date.filter(normalizar_data_female['Treatment'] == 'yes') \
    .groupBy('Country', 'Ano') \
    .agg(count('*').alias('Total_Treatment_Yes'))

# Mostrando o total de tratamentos ('Total_Treatment_Yes') em cada país e ano

In [15]:

#treatment_by_gender = (
#    normalizar_data_female
#    .groupBy('Pais', 'Ano')
#    .agg(
#        sum(when(col("treatment") == "Yes", 1).otherwise(0)).alias("Total_Treatments_By_Gender")
#    )
#)

treatment_by_country = (
    normalizar_data_female
    .groupBy('Pais',  "Ano")
    .agg(
        #sum(when(col("treatment") == "Yes", 1).otherwise(0)).alias("Sum_Treatments_Per_Country"),
        sum(when(col("benefits") == "Yes",1).otherwise(0)).alias("Sum_Benefits_Per_Country"),
        sum(when(col("care_options") == "Yes",1).otherwise(0)).alias("Sum_Care_Options_Per_Country"),
        sum(when((col("benefits") == "No") | (col("benefits") == "Not sure"), 1).otherwise(0)).alias("Sum_No_Benefits_Per_Country"),
        sum(when((col("care_options") == "No") | (col("care_options") == "Not sure"), 1).otherwise(0)).alias("Sum_No_CareOptions_Per_Country"),
        sum(when(col("benefits") == "Don't know",1).otherwise(0)).alias("Sum_Dont_Know_Benefits_Per_Country"),
        sum(when(col("care_options") == "Don't know",1).otherwise(0)).alias("Sum_Dont_know_Care_Options_Per_Country"),
        sum(when(col("benefits").isNotNull(), 1).otherwise(0)).alias("Sum_All_Benefits_Per_Country"),
        sum(when(col("care_options").isNotNull(), 1).otherwise(0)).alias("Sum_All_CareOptions_Per_Country")
    )
)
treatment_with_percentages = treatment_by_country.withColumn(
    "Percentage_Yes_Benefits",
    (col("Sum_Benefits_Per_Country") / col("Sum_All_Benefits_Per_Country")) * 100
).withColumn(
    "Percentage_No_Benefits",
    (col("Sum_No_Benefits_Per_Country") / col("Sum_All_Benefits_Per_Country")) * 100
).withColumn(
    "Percentage_Yes_CareOptions",
    (col("Sum_Care_Options_Per_Country") / col("Sum_All_CareOptions_Per_Country")) * 100
).withColumn(
    "Percentage_No_CareOptions",
    (col("Sum_No_CareOptions_Per_Country") / col("Sum_All_CareOptions_Per_Country")) * 100
).withColumn(
    "Percentage_Dont_Know_Benefits",
    (col("Sum_Dont_Know_Benefits_Per_Country") / col("Sum_All_Benefits_Per_Country")) * 100
).withColumn(
    "Percentage_Dont_Know_CareOptions",
    (col("Sum_Dont_Know_Care_Options_Per_Country") / col("Sum_All_CareOptions_Per_Country")) * 100
)

# Join the aggregated DataFrames
#result = (
    #treatment_by_gender.alias("treatment_gender")
    #.join(treatment_by_country.alias("treatment_country"), on=['Country',  'Ano'])
    #.select("treatment_gender.Country", "treatment_gender.Ano","treatment_country.Sum_Treatments_Per_Country", "treatment_country.Sum_Benefits_Per_Country", "treatment_country.Sum_Care_Options_Per_Country")
#)

# Show the table with gender, sum of treatments per country, and country
treatment_with_percentages.toPandas()

,Pais,Ano,Sum_Benefits_Per_Country,Sum_Care_Options_Per_Country,Sum_No_Benefits_Per_Country,Sum_No_CareOptions_Per_Country,Sum_Dont_Know_Benefits_Per_Country,Sum_Dont_know_Care_Options_Per_Country,Sum_All_Benefits_Per_Country,Sum_All_CareOptions_Per_Country,Percentage_Yes_Benefits,Percentage_No_Benefits,Percentage_Yes_CareOptions,Percentage_No_CareOptions,Percentage_Dont_Know_Benefits,Percentage_Dont_Know_CareOptions
0,Colombia,2014,0,1,2,1,0,0,2,2,0.000000,100.000000,50.000000,50.000000,0.000000,0.0
1,Croatia,2014,1,1,1,1,0,0,2,2,50.000000,50.000000,50.000000,50.000000,0.000000,0.0
2,Netherlands,2014,3,3,11,17,6,0,20,20,15.000000,55.000000,15.000000,85.000000,30.000000,0.0
3,Nigeria,2014,0,0,1,1,0,0,1,1,0.000000,100.000000,0.000000,100.000000,0.000000,0.0
4,Finland,2015,0,0,1,1,0,0,1,1,0.000000,100.000000,0.000000,100.000000,0.000000,0.0
5,Austria,2014,1,1,0,2,2,0,3,3,33.333333,0.000000,33.333333,66.666667,66.666667,0.0
6,Canada,2014,21,21,19,40,21,0,61,61,34.426230,31.147541,34.426230,65.573770,34.426230,0.0
7,Singapore,2014,0,0,1,2,1,0,2,2,0.000000,50.000000,0.000000,100.000000,50.000000,0.0
8,South Africa,2014,0,1,4,4,1,0,5,5,0.000000,80.000000,20.000000,80.000000,20.000000,0.0
9,Bosnia and Herzegovina,2014,0,0,0,1,1,0,1,1,0.000000,0.000000,0.000000,100.000000,100.000000,0.0
10,Ireland,2015,3,6,7,8,4,0,14,14,21.428571,50.000000,42.857143,57.142857,28.571429,0.0
11,Czech Republic,2015,0,1,1,0,0,0,1,1,0.000000,100.000000,100.000000,0.000000,0.000000,0.0
12,Greece,2015,0,0,1,1,0,0,1,1,0.000000,100.000000,0.000000,100.000000,0.000000,0.0
13,Israel,2014,0,1,3,4,2,0,5,5,0.000000,60.000000,20.000000,80.000000,40.000000,0.0
14,Australia,2015,1,2,1,0,0,0,2,2,50.000000,50.000000,100.000000,0.000000,0.000000,0.0
15,United Kingdom,2014,18,32,79,123,58,0,155,155,11.612903,50.967742,20.645161,79.354839,37.419355,0.0
16,Brazil,2014,0,1,3,4,2,0,5,5,0.000000,60.000000,20.000000,80.000000,40.000000,0.0
17,Slovenia,2014,0,0,0,1,1,0,1,1,0.000000,0.000000,0.000000,100.000000,100.000000,0.0
18,Georgia,2014,0,0,1,1,0,0,1,1,0.000000,100.000000,0.000000,100.000000,0.000000,0.0
19,India,2014,0,0,5,9,4,0,9,9,0.000000,55.555556,0.000000,100.000000,44.444444,0.0
20,Moldova,2014,0,1,1,0,0,0,1,1,0.000000,100.000000,100.000000,0.000000,0.000000,0.0
21,Poland,2015,0,0,1,1,0,0,1,1,0.000000,100.000000,0.000000,100.000000,0.000000,0.0
22,Thailand,2014,0,0,1,1,0,0,1,1,0.000000,100.000000,0.000000,100.000000,0.000000,0.0
23,Romania,2014,0,1,1,0,0,0,1,1,0.000000,100.000000,100.000000,0.000000,0.000000,0.0
24,China,2014,0,1,1,0,0,0,1,1,0.000000,100.000000,100.000000,0.000000,0.000000,0.0
25,United Kingdom,2015,1,4,5,6,4,0,10,10,10.000000,50.000000,40.000000,60.000000,40.000000,0.0
26,Australia,2014,2,5,10,12,5,0,17,17,11.764706,58.823529,29.411765,70.588235,29.411765,0.0
27,Switzerland,2014,1,1,2,4,2,0,5,5,20.000000,40.000000,20.000000,80.000000,40.000000,0.0
28,Poland,2014,0,1,4,5,2,0,6,6,0.000000,66.666667,16.666667,83.333333,33.333333,0.0
29,Belgium,2014,2,1,2,5,2,0,6,6,33.333333,33.333333,16.666667,83.333333,33.333333,0.0
30,Portugal,2014,0,1,2,1,0,0,2,2,0.000000,100.000000,50.000000,50.000000,0.000000,0.0
31,Spain,2014,0,0,1,1,0,0,1,1,0.000000,100.000000,0.000000,100.000000,0.000000,0.0
32,Denmark,2014,0,2,2,0,0,0,2,2,0.000000,100.000000,100.000000,0.000000,0.000000,0.0
33,Canada,2015,2,1,0,1,0,0,2,2,100.000000,0.000000,50.000000,50.000000,0.000000,0.0
34,Norway,2014,1,1,0,0,0,0,1,1,100.000000,0.000000,100.000000,0.000000,0.000000,0.0
35,South Africa,2015,0,1,1,0,0,0,1,1,0.000000,100.000000,100.000000,0.000000,0.000000,0.0
36,Greece,2014,0,0,1,1,0,0,1,1,0.000000,100.000000,0.000000,100.000000,0.000000,0.0
37,United States,2016,1,1,0,0,0,0,1,1,100.000000,0.000000,100.000000,0.000000,0.000000,0.0
38,Hungary,2014,0,0,1,1,0,0,1,1,0.000000,100.000000,0.000000,100.000000,0.000000,0.0
39,Italy,2015,0,0,0,1,1,0,1,1,0.000000,0.000000,0.000000,100.000000,100.000000,0.0
40,France,2014,1,3,8,9,3,0,12,12,8.333333,66.666667,25.000000,75.000000,25.000000,0.0
41,Costa Rica,2014,0,1,1,0,0,0,1,1,0.000000,100.000000,100.000000,0.000000,0.000000,0.0
42,Bulgaria,2014,0,0,3,4,1,0,4,4,0.000000,75.000000,0.000000,100.000000,25.000000,0.0
43,Sweden,2014,2,3,2,4,3,0,7,7,28.571429,28.571429,42.857143,57.142857,42.857143,0.0
44,Mexico,2014,0,0,1,3,2,0,3,3,0.000000,33.333333,0.000000,100.000000,66.666667,0.0
45,Brazil,2015,0,1,1,0,0,0,1,1,0.000000,100.000000,100.000000,0.000000,0.000000,0.0
46,Russia,2014,0,0,2,2,0,0,2,2,0.000000,100.000000,0.000000,100.000000,0.000000,0.0
47,New Zealand,2014,1,3,4,3,1,0,6,6,16.666667,66.666667,50.000000,50.000000,16.666667,0.0
48,United States,2015,12,9,2,10,5,0,19,19,63.157895,10.526316,47.368421,52.631579,26.315789,0.0
49,Latvia,2014,0,1,1,0,0,0,1,1,0.000000,100.000000,100.000000,0.000000,0.000000,0.0
50,Philippines,2015,0,0,0,1,1,0,1,1,0.000000,0.000000,0.000000,100.000000,100.000000,0.0
51,Ireland,2014,0,2,12,11,1,0,13,13,0.000000,92.307692,15.384615,84.615385,7.692308,0.0
52,Italy,2014,0,0,2,4,2,0,4,4,0.000000,50.000000,0.000000,100.000000,50.000000,0.0
53,Germany,2014,5,8,19,33,17,0,41,41,12.195122,46.341463,19.512195,80.487805,41.463415,0.0
54,United States,2014,299,226,94,342,175,0,568,568,52.640845,16.549296,39.788732,60.211268,30.809859,0.0
55,Germany,2015,0,0,0,2,2,0,2,2,0.000000,0.000000,0.000000,100.000000,100.000000,0.0
56,Finland,2014,0,0,1,2,1,0,2,2,0.000000,50.000000,0.000000,100.000000,50.000000,0.0
57,Singapore,2015,0,0,0,1,1,0,1,1,0.000000,0.000000,0.000000,100.000000,100.000000,0.0
58,Japan,2014,0,1,1,0,0,0,1,1,0.000000,100.000000,100.000000,0.000000,0.000000,0.0
59,Netherlands,2015,1,1,2,4,2,0,5,5,20.000000,40.000000,20.000000,80.000000,40.000000,0.0

In [17]:
treatment_with_percentages = treatment_with_percentages.drop("Sum_Dont_know_Care_Options_Per_Country")

In [18]:
treatment_with_percentages \
    .select("Pais", "Ano","Sum_Benefits_Per_Country","Sum_Care_Options_Per_Country","Sum_No_Benefits_Per_Country" ,
        "Sum_No_CareOptions_Per_Country" , "Sum_Dont_Know_Benefits_Per_Country" , 
        "Sum_All_Benefits_Per_Country" ,
        "Sum_All_CareOptions_Per_Country","Percentage_Yes_Benefits","Percentage_No_Benefits","Percentage_Yes_CareOptions","Percentage_No_CareOptions", "Percentage_Dont_Know_Benefits") \
    .write \
    .mode("overwrite") \
    .format("delta") \
    .option("overwriteSchema", "true") \
    .save("hdfs://hdfs-nn:9000/TrabalhoPratico/gold/mentalHealth_Benefits_Care_TreatmentPerCountry/")

In [19]:
spark.sql(
    """
    Select *
    from gold.mentalHealth_Benefits_Care_TreatmentPerCountry
    """
    ).show()

+--------------------+----+------------------------+----------------------------+---------------------------+------------------------------+----------------------------------+----------------------------+-------------------------------+-----------------------+----------------------+--------------------------+-------------------------+-----------------------------+
|                Pais| Ano|Sum_Benefits_Per_Country|Sum_Care_Options_Per_Country|Sum_No_Benefits_Per_Country|Sum_No_CareOptions_Per_Country|Sum_Dont_Know_Benefits_Per_Country|Sum_All_Benefits_Per_Country|Sum_All_CareOptions_Per_Country|Percentage_Yes_Benefits|Percentage_No_Benefits|Percentage_Yes_CareOptions|Percentage_No_CareOptions|Percentage_Dont_Know_Benefits|
+--------------------+----+------------------------+----------------------------+---------------------------+------------------------------+----------------------------------+----------------------------+-------------------------------+-----------------------+----------------------+--------------------------+-------------------------+-----------------------------+
|            Colombia|2014|                       0|                           1|                          2|                             1|                                 0|                           2|                              2|                    0.0|                 100.0|                      50.0|                     50.0|                          0.0|
|             Croatia|2014|                       1|                           1|                          1|                             1|                                 0|                           2|                              2|                   50.0|                  50.0|                      50.0|                     50.0|                          0.0|
|         Netherlands|2014|                       3|                           3|                         11|                            17|                                 6|                          20|                             20|                   15.0|     55.00000000000001|                      15.0|                     85.0|                         30.0|
|             Nigeria|2014|                       0|                           0|                          1|                             1|                                 0|                           1|                              1|                    0.0|                 100.0|                       0.0|                    100.0|                          0.0|
|             Finland|2015|                       0|                           0|                          1|                             1|                                 0|                           1|                              1|                    0.0|                 100.0|                       0.0|                    100.0|                          0.0|
|             Austria|2014|                       1|                           1|                          0|                             2|                                 2|                           3|                              3|      33.33333333333333|                   0.0|         33.33333333333333|        66.66666666666666|            66.66666666666666|
|              Canada|2014|                      21|                          21|                         19|                            40|                                21|                          61|                             61|      34.42622950819672|    31.147540983606557|         34.42622950819672|        65.57377049180327|            34.42622950819672|
|           Singapore|2014|                       0|                           0|                          1|                             2|                                 1|                           2|                              2|                    0.0|                  50.0|                       0.0|                    100.0|                         50.0|
|        South Africa|2014|                       0|                           1|                          4|                             4|                                 1|                           5|                              5|                    0.0|                  80.0|                      20.0|                     80.0|                         20.0|
|Bosnia and Herzeg...|2014|                       0|                           0|                          0|                             1|                                 1|                           1|                              1|                    0.0|                   0.0|                       0.0|                    100.0|                        100.0|
|             Ireland|2015|                       3|                           6|                          7|                             8|                                 4|                          14|                             14|     21.428571428571427|                  50.0|        42.857142857142854|        57.14285714285714|            28.57142857142857|
|      Czech Republic|2015|                       0|                           1|                          1|                             0|                                 0|                           1|                              1|                    0.0|                 100.0|                     100.0|                      0.0|                          0.0|
|              Greece|2015|                       0|                           0|                          1|                             1|                                 0|                           1|                              1|                    0.0|                 100.0|                       0.0|                    100.0|                          0.0|
|              Israel|2014|                       0|                           1|                          3|                             4|                                 2|                           5|                              5|                    0.0|                  60.0|                      20.0|                     80.0|                         40.0|
|           Australia|2015|                       1|                           2|                          1|                             0|                                 0|                           2|                              2|                   50.0|                  50.0|                     100.0|                      0.0|                          0.0|
|      United Kingdom|2014|                      18|                          32|                         79|                           123|                                58|                         155|                            155|     11.612903225806452|    50.967741935483865|         20.64516129032258|        79.35483870967742|            37.41935483870968|
|              Brazil|2014|                       0|                           1|                          3|                             4|                                 2|                           5|                              5|                    0.0|                  60.0|                      20.0|                     80.0|                         40.0|
|            Slovenia|2014|                       0|                           0|                          0|                             1|                                 1|                           1|                              1|                    0.0|                   0.0|                       0.0|                    100.0|                        100.0|
|             Georgia|2014|                       0|                           0|                          1|                             1|                                 0|                           1|                              1|                    0.0|                 100.0|                       0.0|                    100.0|                          0.0|
|               India|2014|                       0|                           0|                          5|                             9|                                 4|                           9|                              9|                    0.0|     55.55555555555556|                       0.0|                    100.0|            44.44444444444444|
+--------------------+----+------------------------+----------------------------+---------------------------+------------------------------+----------------------------------+----------------------------+-------------------------------+-----------------------+----------------------+--------------------------+-------------------------+-----------------------------+
only showing top 20 rows

In [ ]:
spark.stop()