In [9]:
pip install delta-spark==2.4.0

Requirement already satisfied: delta-spark==2.4.0 in /opt/conda/lib/python3.11/site-packages (2.4.0)
Requirement already satisfied: pyspark<3.5.0,>=3.4.0 in /usr/local/spark/python (from delta-spark==2.4.0) (3.4.1)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.11/site-packages (from delta-spark==2.4.0) (6.8.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.11/site-packages (from importlib-metadata>=1.0.0->delta-spark==2.4.0) (3.16.2)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.11/site-packages (from pyspark<3.5.0,>=3.4.0->delta-spark==2.4.0) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [10]:
from os import PathLike
from hdfs import InsecureClient
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *
from pyspark.sql.types import LongType, StringType, StructField, StructType, BooleanType, ArrayType, IntegerType
from pyspark.sql.functions import *

In [11]:
warehouse_location = 'hdfs://hdfs-nn:9000/TrabalhoPratico'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:2.4.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [12]:
hdfs_path = "hdfs://hdfs-nn:9000/TrabalhoPratico/bronze/StudentMentalHealth"

from pyspark.sql.types import TimestampType
#define the schema for the dataframe
customSchema = StructType([
     StructField("TimeStamp", StringType(), True),     
    StructField("Choose_your_gender", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("What_is_your_course", StringType(), True),
    StructField("Your_current_year_of_study", StringType(), True),
    StructField("What_is_your_GPA", StringType(), True),
    StructField("Marital_status", StringType(), True),
    StructField("Do_you_have_depression", StringType(), True),
    StructField("Do_you_have_anxiety", StringType(), True),
    StructField("Do_you_have_panic_attack", StringType(), True),
    StructField("Did_you_seek_any_specialist_for_treatment", StringType(), True)
])
StudentmentalHealth_df = spark \
            .read\
            .option("delimiter",";")\
            .option("header","true")\
            .option("dateFormat", "dd/MM/yyyy HH:mm")\
            .schema(customSchema) \
            .csv(hdfs_path)
StudentmentalHealth_df.toPandas()
StudentmentalHealth_df.printSchema()

root
 |-- TimeStamp: string (nullable = true)
 |-- Choose_your_gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- What_is_your_course: string (nullable = true)
 |-- Your_current_year_of_study: string (nullable = true)
 |-- What_is_your_GPA: string (nullable = true)
 |-- Marital_status: string (nullable = true)
 |-- Do_you_have_depression: string (nullable = true)
 |-- Do_you_have_anxiety: string (nullable = true)
 |-- Do_you_have_panic_attack: string (nullable = true)
 |-- Did_you_seek_any_specialist_for_treatment: string (nullable = true)

In [13]:
StudentmentalHealth_df.toPandas()

,TimeStamp,Choose_your_gender,Age,What_is_your_course,Your_current_year_of_study,What_is_your_GPA,Marital_status,Do_you_have_depression,Do_you_have_anxiety,Do_you_have_panic_attack,Did_you_seek_any_specialist_for_treatment
0,08/07/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,08/07/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,08/07/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,08/07/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,08/07/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
96,13/07/2020 19:56,Female,21.0,BCS,year 1,3.50 - 4.00,No,No,Yes,No,No
97,13/07/2020 21:21,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,13/07/2020 21:22,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23,Female,23.0,Pendidikan Islam,year 4,3.50 - 4.00,No,No,No,No,No
100,18/07/2020 20:16,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

In [14]:
#Em Python
# Para por valores vazios em null na coluna "Age"
StudentmentalHealth_df = StudentmentalHealth_df.withColumn("Age", when(col("Age") == '', None).otherwise(col("Age")))

StudentmentalHealth_df.show()

+----------------+------------------+---+-------------------+--------------------------+----------------+--------------+----------------------+-------------------+------------------------+-----------------------------------------+
|       TimeStamp|Choose_your_gender|Age|What_is_your_course|Your_current_year_of_study|What_is_your_GPA|Marital_status|Do_you_have_depression|Do_you_have_anxiety|Do_you_have_panic_attack|Did_you_seek_any_specialist_for_treatment|
+----------------+------------------+---+-------------------+--------------------------+----------------+--------------+----------------------+-------------------+------------------------+-----------------------------------------+
|08/07/2020 12:02|            Female| 18|        Engineering|                    year 1|     3.00 - 3.49|            No|                   Yes|                 No|                     Yes|                                       No|
|08/07/2020 12:04|              Male| 21|  Islamic education|                    year 2|     3.00 - 3.49|            No|                    No|                Yes|                      No|                                       No|
|08/07/2020 12:05|              Male| 19|                BIT|                    Year 1|     3.00 - 3.49|            No|                   Yes|                Yes|                     Yes|                                       No|
|08/07/2020 12:06|            Female| 22|               Laws|                    year 3|     3.00 - 3.49|           Yes|                   Yes|                 No|                      No|                                       No|
|08/07/2020 12:13|              Male| 23|       Mathemathics|                    year 4|     3.00 - 3.49|            No|                    No|                 No|                      No|                                       No|
|08/07/2020 12:31|              Male| 19|        Engineering|                    Year 2|     3.50 - 4.00|            No|                    No|                 No|                     Yes|                                       No|
|08/07/2020 12:32|            Female| 23|   Pendidikan islam|                    year 2|    3.50 - 4.00 |           Yes|                   Yes|                 No|                     Yes|                                       No|
|08/07/2020 12:33|            Female| 18|                BCS|                    year 1|     3.50 - 4.00|            No|                    No|                Yes|                      No|                                       No|
|08/07/2020 12:35|            Female| 19|    Human Resources|                    Year 2|     2.50 - 2.99|            No|                    No|                 No|                      No|                                       No|
|08/07/2020 12:39|              Male| 18|              Irkhs|                    year 1|     3.50 - 4.00|            No|                    No|                Yes|                     Yes|                                       No|
|08/07/2020 12:39|            Female| 20|         Psychology|                    year 1|     3.50 - 4.00|            No|                    No|                 No|                      No|                                       No|
|08/07/2020 12:39|            Female| 24|        Engineering|                    Year 3|     3.50 - 4.00|           Yes|                   Yes|                 No|                      No|                                       No|
|08/07/2020 12:40|            Female| 18|                BCS|                    year 1|     3.00 - 3.49|            No|                   Yes|                 No|                      No|                                       No|
|08/07/2020 12:41|              Male| 19|        Engineering|                    year 1|     3.00 - 3.49|            No|                    No|                 No|                      No|                                       No|
|08/07/2020 12:43|            Female| 18|              KENMS|                    Year 2|     3.50 - 4.00|            No|                    No|                Yes|                      No|                                       No|
|08/07/2020 12:43|              Male| 24|                BCS|                    Year 3|     3.50 - 4.00|            No|                    No|                 No|                      No|                                       No|
|08/07/2020 12:46|            Female| 24|        Accounting |                    year 3|     3.00 - 3.49|            No|                    No|                 No|                      No|                                       No|
|08/07/2020 12:52|            Female| 24|                ENM|                    year 4|     3.00 - 3.49|           Yes|                   Yes|                Yes|                     Yes|                                       No|
|08/07/2020 13:05|            Female| 20|                BIT|                    Year 2|     3.50 - 4.00|            No|                    No|                Yes|                      No|                                       No|
|08/07/2020 13:07|            Female| 18|     Marine science|                    year 2|     3.50 - 4.00|           Yes|                   Yes|                Yes|                     Yes|                                       No|
+----------------+------------------+---+-------------------+--------------------------+----------------+--------------+----------------------+-------------------+------------------------+-----------------------------------------+
only showing top 20 rows

In [ ]:
StudentmentalHealth_df\
    .select("TimeStamp", "Choose_your_gender","Age","What_is_your_course", "Your_current_year_of_study", "What_is_your_GPA", "Marital_status" , "Do_you_have_depression", "Do_you_have_anxiety", "Do_you_have_panic_attack", "Did_you_seek_any_specialist_for_treatment")\
    .write \
    .mode("overwrite") \
    .format("delta") \
    .option("overwriteSchema", "true") \
    .save("hdfs://hdfs-nn:9000/TrabalhoPratico/silver/StudentMentalHealth_DeltaTable/")

In [ ]:
spark.stop()